@using STEM_Net.Models
@model Sensor

<link href="~/css/popup.css" rel="stylesheet" />

<div id="popup">
    <div id="popup-wrapper">
        <div class="container">
            <div class="row">
                <div class="fixed">
                    <img src="~/img/popup-icon.png" style="height: 2.5rem;" />
                </div>
                <div class="col">
                    <h4>STREET TREE: </h4>
                    <h5>ID: </h5>
                </div>
            </div>
            <div class="row">
                <div class="fixed">

                </div>
                <div class="col">
                    <div id="chart-wrapper">
                        <canvas id="myChart"></canvas>
                    </div>
                    <h2 style="position:absolute; left:6.8rem;top:6.5rem;">30%</h2>
                    <h5 style="position:absolute; left:5.75rem;top:9rem;">Soil Moisture</h5>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="#" style="margin-right: 1rem;">More Information</a>
        <a href="#">Historical Data</a>
    </div>
</div>

<script src="~/js/popup.js"></script>