@using STEM_Net.Models
@model Sensor

<link href="~/css/popup.css" rel="stylesheet" />

<div id="popup">
    <div id="popup-wrapper">
        <div class="container">
            <div class="row">
                <div class="fixed">
                    <img src="~/img/popup-icon.png" style="height: 2.5rem;" />
                </div>
                <div class="col">
                    <h4>STREET TREE: @Model.Name</h4>
                    <h5>ID: @Model.DeviceId</h5>
                </div>
            </div>
            <div class="row">
                <div class="fixed">
                </div>
                <div class="col">
                    <div id="chart-wrapper">
                        <canvas id="myChart"></canvas>
                    </div>
                    <h2 id="moisture-heading">@Math.Round(Model.Moisture).ToString()%</h2>
                    <h6>Soil Moisture</h6>
                </div>
            </div>
        </div>
    </div>
    <div id="popup-links">
        <a href="#" style="margin-right: 1rem;">More Information</a>
        <a href="#" style="margin-right: 1rem;" data-toggle="modal" data-target="#exampleModal">Historical Data</a>
        <a href="#" data-toggle="modal" data-target="#reportModal">Report Actions</a>
    </div>
</div>


<script src="~/js/popup.js"></script>